/*ERRO NO CAROUSEL, CONCATENA E FUNCIONA SOMENTE QUANDO SE ESTÁ NO LAYOUT DE MOBILE*/
/* @media (min-width: 768px) { */
    /* show 3 items */
    /* .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
    }
  
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
    }
  
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    } */
  
    /* left or forward direction */
    /* .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    } */
  
    /* farthest right hidden item must be abso position for animations */
    /* .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    } */
  
    /* right or prev direction */
    /* .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  } */

/*Pagina principal*/
body{
    background-color: black;
}

.parallax{
    height: 1100px;
    background-image: url('https://wallpapercave.com/wp/wp2686204.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
.parallax h1{
    margin-top: 6%;
    color: aliceblue;
    font: 50px Arial;
    font-weight: 900;
}
.parallax p{
    color: white;
    font:16px Arial;
    padding-bottom: 3%;
}
.page-logo {
    width: 200px;
    clear: both;
}

.slide{
    text-align: center;
    max-height: 20%;
    max-width: 20%;
    margin: auto;
}
.carousel, a > img {
    width: 100%;
    height: 100%;
}

.navbar{
    top: 0;
    height: 7%;
    width: 100%;
    display: flex;
    background-image: linear-gradient(90deg, #cf1ae0 0%, #14afd6 49%, #adaa15 80%, #cf1ae0 100%);
    animation: slidebg 9s linear infinite;
}
/*.navbar::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 399px;
    
    z-index: -1;
    background-image: linear-gradient(90deg, #cf1ae0 0%, #14afd6 49%, #adaa15 80%, #cf1ae0 100%);
    animation: slidebg 9s linear infinite;
    transform: rotate(4deg);
  }*/
@keyframes slidebg {
to{
    background-position: 20vw;
}

}
.navbar-brand>.logo{
    width: 10%;
    height: 10%;
    float: right;
}

.navbar .nav-link{
    text-align: center;
    font-size: large;
    color: rgba(139, 213, 223, 0.849);
}
.dropdown-menu{
    background: rgba(84, 77, 180, 0.9);
}
.dropdown-item{
    color: rgb(190, 112, 243);
    font-weight: 500; 
}
.nav-link{
    color: beige;
}
a:hover,a:visited:hover { color: #896baf; }
.nav-link :active{
    color:brown;
}

.page-title{
    margin-top: 6%;
}

.espinhosERosas{
    height: 1100px;
    background-image: url('https://pbs.twimg.com/media/E1MaTUuXoAU2yYX?format=jpg&name=large');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nevoaEFuria{
    height: 1100px;
    background-image: url('https://3.bp.blogspot.com/-_0yxJ2bp4jo/WULUMgCUwTI/AAAAAAAAAvY/e22QC-8SahkInPZyymhZpTjMdgZ28D2cACLcBGAs/s1600/foto17.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.asasERuinas{
    height: 1100px;
    background-image: url('https://i.pinimg.com/originals/3a/7c/bb/3a7cbb7e17fc2f0a4da399706e6dde2a.jpg');
    background-size: 140%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.conteudo{
    background-color: rgba(3, 3, 3, 0.226);
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 70px 0;
}
.conteudo h1{
    font: 40px Arial;
    text-align: center;
    font-weight: 600;
    padding-bottom: 25px;
    margin-top: 6%;
}
.conteudo p{
    margin-top: 3%;
    font: 17px Arial;
    padding-bottom: 10px;
    font-weight: 300;
}

/*Imagens*/
.input-imagem{
    margin-top: 10%;
    text-align: center;
    color: aliceblue;
}
input{
    border-radius: 3px;
    border: none;
}
.btn{
    width: 10%;
    margin:auto;
    margin-top: 3%;
    background-image: linear-gradient(90deg, #cf1ae0 0%, #14afd6 49%, #adaa15 80%, #cf1ae0 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    animation: slidebg 5s linear infinite;
  }
  
  .btn::after{
    content: attr(alt);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

@keyframes slidebg {
    to{
      background-position: 20vw;
    }
} 